<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>گفتگو</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/main.js" defer></script>
  </head>
  <body>
    <section class="sidebar">
      <button class="btn" id="leaveButton">
        <i class="fa fa-window-close"></i>
      </button>
      <div class="sidebar-header">
        <h2 id="roomName">مهندسی اینترنت</h2>
      </div>
      <hr />
      <div class="sidebar-users">
        <ul class="users-list" id="usersList">
          <li class="users-list-item">Ali</li>
          <li class="users-list-item">Reza</li>
          <li class="users-list-item">Mahdi</li>
          <li class="users-list-item">Sobhan</li>
          <li class="users-list-item">Sajad</li>
          <li class="users-list-item">Ali</li>
          <li class="users-list-item">Reza</li>
          <li class="users-list-item">Mahdi</li>
          <li class="users-list-item">Sobhan</li>
          <li class="users-list-item">Sajad</li>
          <li class="users-list-item">Ali</li>
          <li class="users-list-item">Reza</li>
          <li class="users-list-item">Mahdi</li>
          <li class="users-list-item">Sobhan</li>
          <li class="users-list-item">Sajad</li>
          <li class="users-list-item">Ali</li>
          <li class="users-list-item">Reza</li>
          <li class="users-list-item">Mahdi</li>
          <li class="users-list-item">Sobhan</li>
          <li class="users-list-item">Sajad</li>
        </ul>
      </div>
    </section>
    <div class="container">
      <div class="chat-container" id="chatContainer">
        <div class="message self">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
            veritatis.
          </p>
        </div>
        <div class="message">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
            veritatis.
          </p>
        </div>
      </div>
      <div class="input-container">
        <button class="btn btn-primary" id="send">
          <i class="fa fa-paper-plane"></i>
        </button>
        <input type="text" id="inputMessage" />
      </div>
    </div>
  </body>
</html>
